# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.env

# Data
# vectorstore/
data/*.zip
*.log

# Ignore pitch document (local pitch/demo notes)
assets/pitch.rtf

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.streamlit/
